# 变量和数据类型

In [6]:
honey = 'honey'
print(f'hello {honey}')
print('hello ' + honey)
print('hello {v}'.format(v=honey))

hello honey
hello honey
hello honey

In [17]:
fruits = ['apple', 'banana', 'strawberry']
print('; '.join(fruits[:]))

apple; banana; strawberry

In [18]:
fruits_ingredients = {'apple': 'vc va vb', 'banana': 've vb'}
print(fruits_ingredients['apple'])

vc va vb

In [19]:
sids = [1, 3, 4, 5,  7, 8, 1, 4, 3, 5]
sids_norepeat = set(sids)
print(sids_norepeat)

{1, 3, 4, 5, 7, 8}

In [21]:
b = 3698164695
a = 67 * 89.4 + 2**7/123 + 6 // 4 + 9 % 5 + b / 23792
print(a)

161433.15970723232

In [23]:
a = True
b = False
if a:
    print('a is True')
if b:
    print('b is True')

a is True

In [24]:
sids = [1, 3, 4, 5,  7, 8, 1, 4, 3, 5]
for sid in sids:
    if sid != 3:
        print(sid)
    else:
        print('not 3')

not 3
3
not 3
not 3
not 3
not 3
not 3
not 3
3
not 3

In [35]:
a = 4
while a > 0:
    if a <= 2:
        print(f'inner {a}')
        a -= 1
        contrinue
    print(a)
    a -= 1
    # a = a - 1

4
3
inner 2
inner 1

In [38]:
a = 1
l = []
while a <= 100:
    l.append(str(a))
    a = a + 1
print(', '.join(l))

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100

In [49]:
print(range(1, 101))
for i in range(1, 101):
    print(i, end=', ')
print([str(x) for x in range(1, 101)])
print(', '.join([str(x) for x in range(1, 101)]))

range(1, 101)
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100

In [53]:
len(range(1, 100, 2))
len(sids)

import pandas as pd

df = pd.read_parquet('/mnt/data/sharedata/uni_feather/2016/04/01/ord_SH_20160401.parquet')
df

,SeqIndex,SendTm,LocalTs,BizIndex,OrderIndex,OrderPx,OrderTm,OrderType,OrderID,OrderVol,ChannelID,Symbol,SideFlag
0,0,0,1459502100170000000,1,1,9.00,91500170,65,74,92300.0,1,601727,66
1,0,0,1459502100440000000,2,2,9.00,91500440,65,198,71800.0,1,601727,66
2,0,0,1459502100720000000,3,3,9.44,91500720,65,486,200.0,1,601727,66
3,0,0,1459502100770000000,4,4,9.94,91500770,65,570,1000.0,1,601727,83
4,0,0,1459502100830000000,5,5,9.20,91500830,65,710,5000.0,1,601727,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17941907,0,0,1459522799990000000,5041791,3127577,7.43,145959990,65,3196869,3000.0,5,600688,83
17941908,0,0,1459522799990000000,5041792,3127578,13.25,145959990,65,3196870,1000.0,5,601555,83
17941909,0,0,1459522799990000000,5041793,3127579,55.73,145959990,68,3176800,600.0,5,603678,66
17941910,0,0,1459522799990000000,5041794,3127580,29.23,145959990,65,3196871,400.0,5,600604,83
17941911,0,0,1459522799990000000,5041795,3127581,8.21,145959990,65,3196872,1000.0,5,601390,83

In [55]:
df['OrderPx'].mean()

14.82426665898258